.container {
  max-width: 1320px;
  margin: auto;
}
.container .opportunities .title {
  max-width: 680px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 70px;
}
.container .opportunities .title .icon {
  display: flex;
  gap: 20px;
  height: 21px;
  align-items: center;
}
.container .opportunities .title .icon span {
  width: 20px;
  height: 20px;
  background-color: #184afb;
  border-radius: 20px;
}
.container .opportunities .title .icon p {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.container .opportunities .title h3 {
  max-width: 333px;
  color: #2e3038;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
}
.container .opportunities ul.list {
  max-width: 1000px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 20px;
}
.container .opportunities ul.list li.item {
  display: flex;
  justify-content: space-between;
  width: 987px;
  height: 280px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 40px 111px 40px 60px;
}
.container .opportunities ul.list li.item img {
  width: 200px;
  height: 200px;
}
.container .opportunities ul.list li.item .details h4 {
  max-width: 465px;
  color: #2e3038;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.container .opportunities ul.list li.item .details p {
  max-width: 499px;
  color: #828388;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 48px;
}
.container .opportunities ul.list li.item .details button {
  color: #184afb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  padding: 8px 32px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
.container .international .title {
  max-width: 1070px;
  display: flex;
  justify-content: space-between;
  margin: 28px 0 107px;
}
.container .international .title .icon {
  display: flex;
  gap: 20px;
  height: 21px;
  align-items: center;
}
.container .international .title .icon span {
  width: 20px;
  height: 20px;
  background-color: #184afb;
  border-radius: 20px;
}
.container .international .title .icon p {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.container .international .title h3 {
  max-width: 727px;
  color: #2e3038;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
}
.container .international .international-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.container .international .international-top .description {
  position: relative;
  width: 876px;
  height: 420px;
  border-radius: 12px;
  background: linear-gradient(115deg, rgba(0, 186, 245, 0.1) 0%, rgba(255, 255, 255, 0) 65.75%), url(../../../assets//img/woman-wearing-virtual-reality-simulator1.png), lightgray 50%/cover no-repeat;
}
.container .international .international-top .description p {
  position: absolute;
  max-width: 246px;
  top: 40px;
  right: 75px;
  color: #184afb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.container .international .international-top ul.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container .international .international-top ul.list li.item {
  display: flex;
  width: 432px;
  height: 204px;
  min-height: 160px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 87px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
}
.container .international .international-top ul.list li.item .image {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .international .international-top ul.list li.item .image p {
  color: #56585e;
  font-family: Michroma;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
}
.container .international .international-top ul.list li.item .image img {
  width: 40px;
  height: 40px;
}
.container .international .international-top ul.list li.item button {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #184afb;
  font-family: Poppins;
  font-size: 16px;
  padding: 6px 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  border-radius: 20px;
  background: #f5f5f5;
  border: none;
  cursor: pointer;
}
.container .international .international-top ul.list li.item button img {
  width: 16px;
  height: 16px;
}
.container .partners {
  margin-bottom: 120px;
}
.container .partners .title {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 119px;
}
.container .partners .title .icon {
  display: flex;
  gap: 20px;
  height: 21px;
  align-items: center;
}
.container .partners .title .icon span {
  width: 20px;
  height: 20px;
  background-color: #184afb;
  border-radius: 20px;
}
.container .partners .title .icon p {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.container .partners .title h3 {
  max-width: 727px;
  margin-right: 110px;
  color: #2e3038;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
}
.container .partners .title .partnerText {
  max-width: 363px;
  margin-top: 22px;
  margin-right: 69px;
  color: #828388;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container .partners .partSlider {
  display: flex;
  max-width: 980px;
  margin-left: auto;
}
.container .partners .partSlider div img {
  padding: 50px 90px;
  border-radius: 8px;
  border: 1px dashed #ccc;
}
.container .news .title {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 119px;
}
.container .news .title .icon {
  display: flex;
  gap: 20px;
  height: 21px;
  align-items: center;
}
.container .news .title .icon span {
  width: 20px;
  height: 20px;
  background-color: #184afb;
  border-radius: 20px;
}
.container .news .title .icon p {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.container .news .title h3 {
  max-width: 287px;
  margin-right: 70px;
  color: #2e3038;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
}
.container .news .title .newsText {
  max-width: 363px;
  margin-top: 22px;
  margin-right: 69px;
  color: #828388;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container .news ul.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-bottom: 180px;
}
.container .news ul.list li.item {
  width: 432px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.container .news ul.list li.item img {
  width: 432px;
  height: 280px;
}
.container .news ul.list li.item .details {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .news ul.list li.item .details p {
  max-width: 311px;
  color: rgba(46, 48, 56, 0.6);
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.container .news ul.list li.item .details img {
  width: 30px;
  height: 20px;
}
.container .blog .title {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 119px;
}
.container .blog .title .icon {
  display: flex;
  gap: 20px;
  height: 21px;
  align-items: center;
}
.container .blog .title .icon span {
  width: 20px;
  height: 20px;
  background-color: #184afb;
  border-radius: 20px;
}
.container .blog .title .icon p {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.container .blog .title h3 {
  max-width: 432px;
  margin-right: 150px;
  color: #2e3038;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
}
.container .blog .title button {
  display: flex;
  width: 190px;
  height: 40px;
  color: #184afb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  margin-top: 10px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fff;
}
.container .blog .list {
  max-width: 980px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 162px;
}
.container .blog .list .item {
  max-width: 240px;
  cursor: pointer;
}
.container .blog .list .item img {
  border-radius: 120px;
  background: url(../../../assets//icon/Handsome.png), lightgray 50%/cover no-repeat;
}
.container .blog .list .item .author {
  margin-top: 14px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
.container .blog .list .item .author p:nth-child(1) {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}
.container .blog .list .item .author p:nth-child(2) {
  color: #828388;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}
.container .blog .cta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.container .blog .cta img {
  width: 321px;
  height: 364px;
}
.container .blog .cta .cta-details {
  width: 987px;
  height: 364px;
  padding: 28px 40px 40px 28px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #fff;
}
.container .blog .cta .cta-details img {
  width: 120.001px;
  height: 119.999px;
}
.container .blog .cta .cta-details h3 {
  max-width: 723px;
  color: var(--Daminant, #2e3038);
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.container .blog .cta .cta-details .cta-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .blog .cta .cta-details .cta-description p {
  max-width: 346px;
  color: rgba(46, 48, 56, 0.6);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container .blog .cta .cta-details .cta-description button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 210px;
  height: 36px;
  color: #fff;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  border-radius: 20px;
  background: #184afb;
  cursor: pointer;
}
.container .blog .cta .cta-details .cta-description button img {
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=style.css.map */