.goal-container {
  width: 1320px;
  margin: auto;
  margin-top: 90px;
}
.goal-container .header-primary {
  max-width: 493px;
  margin: 180px auto 60px 333px;
  color: #2e3038;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  text-transform: uppercase;
}
.goal-container .image-main {
  width: 1320px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  background: url("../../../assets//img/Business concept with team close up.png"), lightgray 50%/cover no-repeat, #f5f5f5;
}
.goal-container .content-container {
  max-width: 980px;
  margin-left: auto;
}
.goal-container .content-container .text-container {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
.goal-container .content-container .text-container .text-description {
  max-width: 519px;
  color: #828388;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.goal-container .content-container .text-container .button-primary {
  display: flex;
  width: 166px;
  height: 36px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fff;
  color: #184afb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  cursor: pointer;
}
.goal-container .content-container .header-secondary {
  color: #2e3038;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 162.5% */
  text-transform: capitalize;
}
.goal-container .content-container .education-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
  row-gap: 60px;
}
.goal-container .content-container .education-list .education-list-item {
  width: 487px;
}
.goal-container .content-container .education-list .education-list-item .education-div {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.goal-container .content-container .education-list .education-list-item .education-description {
  color: #2e3038;
  font-family: Michroma;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.14px;
  text-transform: capitalize;
}
.goal-container .content-container .feature-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 120px 0;
}
.goal-container .content-container .feature-list .feature-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goal-container .content-container .feature-list .feature-item .feature-content .feature-title {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 24px;
}
.goal-container .content-container .feature-list .feature-item .feature-content .feature-title .feature-icon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #1f69f8;
}
.goal-container .content-container .feature-list .feature-item .feature-content .feature-title .feature-heading {
  color: var(--Text-Color, #141e1f);
  font-family: Michroma;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
}
.goal-container .content-container .feature-list .feature-item .feature-content .feature-description {
  max-width: 341px;
  color: #3d5a5c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
.goal-container .content-container .feature-list .feature-divider {
  margin: 40px 0;
}
.goal-container .divider {
  margin-bottom: 80px;
}

.news .title {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 119px;
}
.news .title .icon {
  display: flex;
  gap: 20px;
  height: 21px;
  align-items: center;
}
.news .title .icon span {
  width: 20px;
  height: 20px;
  background-color: #184afb;
  border-radius: 20px;
}
.news .title .icon p {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.news .title h3 {
  max-width: 287px;
  margin-right: 70px;
  color: #2e3038;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
}
.news .title .newsText {
  max-width: 363px;
  margin-top: 22px;
  margin-right: 69px;
  color: #828388;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.news ul.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-bottom: 180px;
}
.news ul.list li.item {
  width: 432px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.news ul.list li.item img {
  width: 432px;
  height: 280px;
}
.news ul.list li.item .details {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news ul.list li.item .details p {
  max-width: 311px;
  color: rgba(46, 48, 56, 0.6);
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.news ul.list li.item .details img {
  width: 30px;
  height: 20px;
}

.partners {
  margin-bottom: 120px;
}
.partners .title {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 119px;
}
.partners .title .icon {
  display: flex;
  gap: 20px;
  height: 21px;
  align-items: center;
}
.partners .title .icon span {
  width: 20px;
  height: 20px;
  background-color: #184afb;
  border-radius: 20px;
}
.partners .title .icon p {
  color: #56585e;
  font-family: Michroma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}
.partners .title h3 {
  max-width: 727px;
  margin-right: 110px;
  color: #2e3038;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-transform: uppercase;
}
.partners .title .partnerText {
  max-width: 363px;
  margin-top: 22px;
  margin-right: 69px;
  color: #828388;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.partners .partSlider {
  display: flex;
  max-width: 980px;
  margin-left: auto;
}
.partners .partSlider div img {
  padding: 50px 90px;
  border-radius: 8px;
  border: 1px dashed #ccc;
}/*# sourceMappingURL=style.css.map */